dtd/graphdesc.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT add ((name) | (name,graphType,rpn?,color?,legend?,reversed?)|(legend))>
<!--<!ELEMENT add (color|graphType|legend|name|rpn)*>-->
<!ELEMENT color (#PCDATA)>
<!ELEMENT graphName (#PCDATA)>
<!ELEMENT graphTitle (#PCDATA)>
<!ELEMENT graphType (#PCDATA)>
<!ELEMENT upperLimit (#PCDATA)>
<!ELEMENT lowerLimit (#PCDATA)>
<!ELEMENT graphdesc (name,graphName,graphTitle,verticalLabel,lowerLimit?,add+,hosttree,viewtree)>
<!ELEMENT legend (#PCDATA)>
<!ELEMENT reversed (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT rpn (#PCDATA)>
<!ELEMENT pathstring (#PCDATA)>
<!ELEMENT pathelement (#PCDATA)>
<!ELEMENT verticalLabel (#PCDATA)>
<!ELEMENT viewtree (pathelement|pathstring)*>
<!ELEMENT hosttree (pathelement|pathstring)*>
