dtd/graphdesc.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT graphdesc (name, graphName, graphTitle, unit?, verticalLabel, lowerLimit?, add+, hosttree, viewtree)>
<!ELEMENT add (name | (name, rpn?, reversed?, graphType, color?, legend?) | legend)>
<!ELEMENT viewtree (pathelement | pathstring)*>
<!ELEMENT hosttree (pathelement | pathstring)*>
<!ELEMENT unit (binary | SI)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT graphName (#PCDATA)>
<!ELEMENT graphTitle (#PCDATA)>
<!ELEMENT graphType (#PCDATA)>
<!ELEMENT upperLimit (#PCDATA)>
<!ELEMENT lowerLimit (#PCDATA)>
<!ELEMENT legend (#PCDATA)>
<!ELEMENT reversed (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT rpn (#PCDATA)>
<!ELEMENT pathstring (#PCDATA)>
<!ELEMENT pathelement (#PCDATA)>
<!ELEMENT verticalLabel (#PCDATA)>
<!ELEMENT binary (#PCDATA)>
<!ELEMENT SI (#PCDATA)>
