dtd/host.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT probe ((arg, list)*, threshold+) >
<!ELEMENT arg EMPTY>
<!ATTLIST arg
			type CDATA #REQUIRED
			value CDATA #REQUIRED
>
<!ELEMENT list (arg, list)+ >
<!ELEMENT threshold (action+ ) >
<!ATTLIST threshold
	name CDATA #REQUIRED
	dsName CDATA #REQUIRED
	value CDATA #REQUIRED
	duration CDATA #REQUIRED
	operation CDATA #REQUIRED
>
<!ELEMENT action (arg, list)* >
<!ATTLIST action
	type CDATA #REQUIRED
>