dtd/probedesc.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT ds (dsName,dsType,oid?,minValue?,maxValue?)>
<!ELEMENT dsName (#PCDATA)>
<!ELEMENT dsType (#PCDATA)>
<!ELEMENT graphs (name+)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT oid (#PCDATA)>
<!ELEMENT minValue (#PCDATA)>
<!ELEMENT maxValue (#PCDATA)>
<!ELEMENT index (#PCDATA)>
<!ELEMENT uniq (#PCDATA)>
<!ELEMENT probeClass (#PCDATA)>
<!ELEMENT probeName (#PCDATA)>
<!ELEMENT probedesc (name,probeName,probeClass,(snmpRequester|specific)?,(index,uniq)?,ds+,graphs)>
<!ELEMENT snmpRequester (#PCDATA)>
<!ELEMENT specific (#PCDATA)>
