src/jrds/xmlResources/graphdesc.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<!ELEMENT add (name, graphType, legend?)>
<!ELEMENT filename (#PCDATA)>
<!ELEMENT graphTitle (#PCDATA)>
<!ELEMENT graphType (#PCDATA)>
<!ELEMENT graphdesc (filename, verticalLabel, graphTitle, add+, hosttree, viewtree)>
<!ELEMENT hosttree (pathelement+)>
<!ELEMENT legend (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT pathelement (#PCDATA)>
<!ELEMENT verticalLabel (#PCDATA)>
<!ELEMENT viewtree (pathelement+)>
