src/jrds/xmlResources/graphdesc.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT add (name, graphType, legend?)>
<!ELEMENT graphName (#PCDATA)>
<!ELEMENT graphTitle (#PCDATA)>
<!ELEMENT graphType (#PCDATA)>
<!ELEMENT upperLimit (#PCDATA)>
<!ELEMENT graphdesc (graphName, verticalLabel, graphTitle, add+, hosttree, viewtree)>
<!ELEMENT hosttree (pathelement+)>
<!ELEMENT legend (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT pathelement (#PCDATA)>
<!ELEMENT verticalLabel (#PCDATA)>
<!ELEMENT viewtree (pathelement+)>
